
ul {
   
    list-style: none;
    gap: 25px;
}

.box {
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    background-color: #1389b2;
    color: black;
}



.box-fizz {
    background-color: #0cd6a1;
}

.box-buzz {
    background-color: #ffd166;
}

.box-fizzbuzz {
    background-color: #f0466f;
}

body {
    background-color: #083b4c;
    color: black;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}